/* Common */
@font-face {
  font-family: miratrix;
  src: url("../resources/fonts/miratrix.otf");
}

* {
  font-family: miratrix, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  ::-webkit-scrollbar{
    display: none;
  }
}

.message {
  display: block;
  position: absolute;
  font-family: miratrix, sans-serif;
  font-size: 150vh;
  right: -10000px;
  top: -50vh;
  overflow: hidden;
  letter-spacing: 1px;
  font-stretch: ultra-condensed;

  animation-duration: 4s;
  animation-name: incorrect;
  animation-iteration-count: 1;
}


@keyframes incorrect {
  from {
    right: -8000px;
  }
  to {
    right: 10000px;
  }
}

p {
  letter-spacing: 0;
  font-size: 20px;
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
}
a {
  display: flex;
  text-decoration: none;
  color: black;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  width: 96%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid darkcyan;
  border-radius: 0 0 25px 25px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);

  box-shadow: 0 2px 20px;

  .nickname {
    display: flex;
    align-items: center;
    margin: 5px;

    width: 180px;
    transition: width 1s ease-in-out;
    &:hover {
      width: 320px;
    }
  }

  .buttons {
    display: flex;
    margin-right: 5px;
    align-items: center;
    overflow: hidden;
  }

  ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      text-decoration: none;
      font-size: 20px;
      margin: 10px;
      padding: 10px;
      font-family: miratrix, sans-serif;
      transition: 0.5s ease-in-out;
      transform: translateX(0px);

      .active {
        transform: translateX(300px);
      }
    }
  }
}

.header-block {
  background-color: aliceblue;
  border: 2px solid darkcyan;
  border-radius: 25px;
  margin: 20px;

  img.avatar {
    height: 50px;
    width: 50px;
    border-radius: 20px;
    margin: 5px;
    border: 1px dashed black;
  }
}

button.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;

  cursor: pointer;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

img.menu-button {
  width: 35px;
  height: 35px;
}

/* Description */
#description {
  position: absolute;
  height: 80vh;
  width: 90vw;
  top: 15vh;
  left: 5vw;

  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid darkcyan;
  border-radius: 25px;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  box-shadow: 2px 2px 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px 10px 30px;
  overflow-y: scroll;
  flex-wrap: nowrap;

  font-size: 18px;
  font-family: miratrix, sans-serif;

  transform: translateY(-100vh);
  transition: 0.5s ease-in;

  z-index: 1;

  &.active {
    transform: translateY(0px);
  }

  ul {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-inline-start: 0;
    list-style-position: inside;
  }

  .desc-text {
    margin-top: 20px;
  }
}

.desc-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .header-block {
    text-align: center;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    box-shadow: 1px 1px 3px;
  }
}

#night-mode {
  display: flex;
  padding: 0;
  align-items: center;
  width: 70px;
  height: 30px;
  background-color: #555;
  font-size: 0;

  &.active {
    background-color: #ccc;
  }
}

#dragger {
  position: relative;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: darkcyan;
  transition: 0.5s ease-in-out;

  &.active {
    transform: translateX(40px);
  }
}

.glass {
  display: flex;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgba(0, 139, 139, 0.5);
  border-left: 2px solid rgba(0, 139, 139, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin: 10px;
}
